        body {
            background-color: #d3ece0;
            font-family: Verdana;
            text-align: center;
            margin:40px,25px;
        }
 
        form {
            background-color: #fff;
            max-width: 900px;
            margin: 70px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
 
        .form-control {
            text-align: left;
            margin-bottom: 25px;
        }
 
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }
 
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 5px;
            display: block;
            width: 95%;
        }
 
       
        .form-control input[type="radio"]
       {
            display: inline-block;
            width: auto;
        }
 
      
        button {
            background-color: #a3c8da;
            border: 1px solid #777;
            border-radius: 10px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 50%;
            margin-top: 50px;
            margin-bottom: 20px;
            font-family:Verdana, Tahoma, sans-serif;
        }
